//font
$colorFont: #333;
$colorFontDisabled: #777;
//background
$colorBg: #e0ece4;
$colorBgL: lighter(#e0ece4, 10%);
$colorBgD: darker(#e0ece4, 15%);
//theme
$colorTheme: #ff4b5c;
$colorThemeL: lighter(#ff4b5c, 10%);
$colorThemeD: darker(#ff4b5c, 15%);
//accent
$colorAccent: #056674;
$colorAccentL: lighter(#056674, 10%);
$colorAccentD: darker(#056674, 15%);
//highlight
$colorHighlight: #66bfbf;
$colorHighlightL: lighter(#66bfbf, 10%);
$colorHighlightD: darker(#66bfbf, 15%);
//ampel
$colorRed: #ce0015;
$colorOrange: #c25700;
$colorGreen: #4ca800;
$colorBlue: #006ac0;
$colorNeutral: #666666;