//font
$colorFont: #333;
$colorFontDisabled: #777;
$colorFontBg: #fff;
$colorFontInvert: #fff;
//background
$colorBg: #e0ece4;
$colorBgL: lighten(#e0ece4, 10%);
$colorBgD: darken(#e0ece4, 15%);
//theme
$colorTheme: #ff4b5c;
$colorThemeL: lighten(#ff4b5c, 10%);
$colorThemeD: darken(#ff4b5c, 15%);
//accent
$colorAccent: #056674;
$colorAccentL: lighten(#056674, 10%);
$colorAccentD: darken(#056674, 5%);
//highlight
$colorHighlight: #66bfbf;
$colorHighlightL: lighten(#66bfbf, 10%);
$colorHighlightD: darken(#66bfbf, 15%);
//ampel
$colorRed: #ce0015;
$colorOrange: #c25700;
$colorGreen: #4ca800;
$colorBlue: #006ac0;
$colorNeutral: #666666;